@import "tailwindcss";

@theme {
  --color-header: #9c4500;
  --color-primarytext: #d9d9d9;
  --color-secondarytext: #959595;
  --color-blck: #121212;

  --breakpoint-xs: 384px;
  --breakpoint-2xs: 280px;
}

@keyframes soft-blink {
  0%,
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  91% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-letter {
  animation: soft-blink 3s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
@media (min-width: 1024px) {
  .animate-blink {
    animation: none !important;
  }
}

.animate-blink {
  animation: blink 5s ease-in-out infinite;
}

.animated-gradient {
  color: linear-gradient(from left, to right, #7c2d12, #facc15, #7c2d12);
  background-size: 200% auto;
  animation: gradient-move 5s ease-in-out infinite;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(3);
  }
  40% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-3);
  }

  70% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(3);
  }
}

.shake-on-hover:hover {
  animation: shake ease-in-out 0.3s;
}

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
*/
